<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>百度地图实现定位和导航.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC53D77C1CF2FAFB0002A26C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC53D7951CF2FAFB0002A26C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC53D7A01CF2FAFB0002A26C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
